.content {
    width: 360px;
    margin: 30px 0;
    padding: 30px;
    border: 1px solid #444;
    border-radius: 1px;
    background-color: rgb(170, 240, 80);
}

.month-search {
    background-color: rgb(230,200,100);
}

.year-search {
    background-color: rgb(100,180,230);
}

select {
    letter-spacing: 3px;
}

input {
    width: 280px;
}

button {
    letter-spacing: 3px;
}

.data-title {
    margin: 10px 0 0;
}

.yen {
    width: 267px;
}

.add-btn {
    margin: 30px 0 0 45px;
    text-align: center;
    width: 200px;
}

.search-btn {
    width: 100px;
}

.login-btn {
    text-align: center;
    margin: 30px 0 0 45px;
}