button {
    letter-spacing: 3px;
}

.search-btn {
    width: 100px;
}

.category-total, .month-total {
    border: 1px solid #888;
    padding: 30px;
    margin-bottom: 30px
}

.content-title {
    margin-bottom: 20px;
    text-align: center;
}

.table {
    background-color: #fff;
}

.total-cost {
    font-size: 1.7rem;
}

.month-cost {
    margin-left: 40px;
}

